{% extends 'store/base.html' %}
{% block title %}商品列表{% endblock %}
{% block label %}商品列表{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <form action="/store/list/goods/" method="get">
                        <div class="input-group custom-search-form">
                            <input type="text" name="goods_name" class="form-control" placeholder="Search..." value="{{ goods_name }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-lg-2">编号</th>
                        <th class="col-lg-8">名字</th>
                        <th class="col-lg-2">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for goods in list_goods %}
                        <tr>
                            <td class="col-lg-2"><span class="btn">{{ goods.num }}</span></td>
                            <td class="col-lg-8"><span class="btn">{{ goods.name }}</span></td>
                            <td class="col-lg-2">
                                {% ifequal goods.up 1%}
                                <a class="btn btn-default" href="/store/update/goods/up/?id={{ goods.id }}&page_now={{ page_now }}&goods_name={{ goods_name }}&up={{ goods.up }}">下架</a>
                                {% else %}
                                <a class="btn btn-default" href="/store/update/goods/up/?id={{ goods.id }}&page_now={{ page_now }}&goods_name={{ goods_name }}&up={{ goods.up }}">上架</a>
                                {% endifequal %}
                                <a class="btn btn-default" href="/store/delete/goods/?id={{ goods.id }}&page_now={{ page_now }}&goods_name={{ goods_name }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="pagination">Showing {{ num_from }} to {{ num_to }} of {{ count }}
                        entries {{ num_pages }}pages
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="text-right">
                        <ul class="pagination">
                            {% if has_previous %}
                                <li class="paginate_button previous" tabindex="0"><a href="#">Previous</a></li>
                            {% else %}
                                <li class="paginate_button previous disabled" tabindex="0"><a href="#">Previous</a></li>
                            {% endif %}

                            {% for page_num in my_page_range %}
                                {% ifequal page_num page_now %}
                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                        <a href="/store/list/goods/?page_now={{ page_num }}&goods_name={{ goods_name }}">{{ page_num }}</a>
                                    </li>
                                {% else %}
                                    <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                        <a href="/store/list/goods/?page_now={{ page_num }}&goods_name={{ goods_name }}">{{ page_num }}</a>
                                    </li>
                                {% endifequal %}
                            {% endfor %}
                            {% if has_next %}
                                <li class="paginate_button previous" tabindex="0"><a href="#">Next</a></li>
                            {% else %}
                                <li class="paginate_button previous disabled" tabindex="0"><a href="#">Next</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/store/js/myckeditor.js"></script>
{% endblock %}