{% extends 'buyer/base.html' %}
{% block title %}详情页{% endblock %}
{% block content %}
    <div class="search_bar clearfix">
        <a href="/buyer/index/" class="logo fl"><img src="/static/buyer/images/logo.png"></a>
        <div class="search_con fl">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
        <div class="guest_cart fr">
            <a href="#" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl">1</div>
        </div>
    </div>

    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="#" class="fruit">新鲜水果</a></li>
                    <li><a href="#" class="seafood">海鲜水产</a></li>
                    <li><a href="#" class="meet">猪牛羊肉</a></li>
                    <li><a href="#" class="egg">禽类蛋品</a></li>
                    <li><a href="#" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="#" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">{{ goodstype.name }}</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for goods in list_new_goods %}
                    <li>
                        <a href="#"><img src="/static/media/{{goods.image}}"></a>
                        <h4><a href="#">{{goods.name}}</a></h4>
                        <div class="prize">￥{{goods.price}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="/buyer/list/?page_now=1&goodstype_id={{ goodstype.id }}&sort=0" {% ifequal sort '0' %}class="active"{% endifequal %}>默认</a>
                <a href="/buyer/list/?page_now=1&goodstype_id={{ goodstype.id }}&sort=1" {% ifequal sort '1' %}class="active"{% endifequal %}>价格</a>
                <a href="/buyer/list/?page_now=1&goodstype_id={{ goodstype.id }}&sort=2" {% ifequal sort '2' %}class="active"{% endifequal %}>人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for goods in list_goods %}
                <li>
                    <a href="detail.html"><img src="/static/media/{{goods.image}}"></a>
                    <h4><a href="detail.html">{{goods.name}}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{goods.price}}</span>
                        <span class="unit">{{goods.price}}/{{goods.unite}}</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
                {% endfor %}

            </ul>

            <div class="pagenation">
                {% if has_previous %}
                    <a href="/buyer/list/?page_now={{ page_now|add:'-1' }}&goodstype_id={{ goodstype.id }}&sort={{ sort }}"><上一页</a>
                {% else %}
                    <a href="#" style="display: none"><上一页</a>
                {% endif %}
                {% for page_num in my_page_range %}
                    {% ifequal page_now page_num %}
                        <a href="/buyer/list/?page_now={{ page_num }}&goodstype_id={{ goodstype.id }}&sort={{ sort }}" class="active">{{ page_num }}</a>
                    {% else %}
                        <a href="/buyer/list/?page_now={{ page_num }}&goodstype_id={{ goodstype.id }}&sort={{ sort }}">{{ page_num }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if has_next %}
                    <a href="/buyer/list/?page_now={{ page_now|add:'1' }}&goodstype_id={{ goodstype.id }}&sort={{ sort }}"><下一页</a>
                {% else %}
                    <a href="#" style="display: none"><下一页</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}